.Vision-container {
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    background-color: #d68e5e;
  }
  
  .Vision-card {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }
  
  .Vision-text-card {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .wem-Vision-txt {
    margin-bottom: 30px;
    font-size: 35px;
  
  }
  
  .Vision-txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin-bottom: 40PX;
  }
  .Vision-main-txt{
    padding: 7px;
     width: 80%;
    font-size: 22px;
  }
  .Vision-txt p {
    width: 80%;
    display: block;
  }
  


  
 
  
  .Vision-text-img {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .Vision-img {
    background-image: url("./Vision.JPG");
    width: 500px;
    height: 400px;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .Vision-card {
      flex-direction: column; /* Change flex direction for smaller screens */
    }
    .Vision-text-card,
    .Vision-text-img {
      width: 100%; /* Make cards and image full width on smaller screens */
      height: auto;
    }
    .Vision-txt p {
        height: auto;
      width: 90%; /* Increase text width on smaller screens */
    }
  }
  