.Event-container {
    width: 100%;
    height: 650px;
    box-sizing: border-box;
    background-color: #d68e5e;
  }
  
  .Event-card {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }
  
  .Event-text-card {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .wem-event-txt {
    margin-bottom: 30px;
    font-size: 50px;
  }
  
  .Event-txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 650px;
  }
  
  .Event-txt p {
    width: 70%;
    display: block;
  }
  
  .Event-main-txt {
    width: 80%;
    font-size: 22px;
  }
  
  .wom-but {
    margin-top: 26px;
  }
  
  .Event-text-img {
    width: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .Event-img {
    width: 500px;
    height: 400px;

    background-image: url("./Event.JPG");
    background-position: contain;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .Event-card {
      flex-direction: column; /* Change flex direction for smaller screens */
    }
    .Event-text-card,
    .Event-text-img {
      width: 100%; /* Make cards and image full width on smaller screens */
      height: auto;
    }
    .Event-txt p {
        height: auto;
      width: 90%; /* Increase text width on smaller screens */
    }
  }
  