.offer-container {
	width: 100%;
	height: 650px;
	box-sizing: border-box;
	background-color: #edcbae;
}

.offer-card {
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.offer-text-card {
	width: 50%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.offer-wem-txt {
	margin-bottom: 30px;
	font-size: 50px;
}

.offer-txt {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 650px;
}

.offer-txt p {
	width: 70%;
	display: block;
}

.offer-main-txt1 {
	width: 80%;
	margin-top: 50px;
	font-size: 22px;
}
.offer-main-txt2 {
	width: 80%;
	font-size: 22px;
	padding-top: 20px;
}

.offer-wom-but {
	margin-top: 26px;
}

.offer-text-img {
	width: 50%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.offer-img {
	display: flex;
	width: 100%;
	height: 550px;
	background-image: url("./offer.JPG");
	background-position: contain;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 200px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
	.offer-card {
		flex-direction: column; /* Change flex direction for smaller screens */
		height: auto;
	}
	.offer-text-card {
		width: 100%; /* Make cards and image full width on smaller screens */
		height: auto;
	}
	.offer-text-img {
		width: 100%; /* Make cards and image full width on smaller screens */
		height: auto;
		padding: 20px;
	}
	.offer-img {
		display: flex;
		width: 100%;
		height: auto;
	}
	.offer-txt p {
		height: auto;
		width: 90%; /* Increase text width on smaller screens */
	}
}
